<form name="short_form" ng-submit="short()">
    <div class="row collapse">
        <div class="small-3 large-2 columns">
            <span class="prefix" id="protocol">{{protocol}}</span>
        </div>

        <div class="small-9 large-10 columns">
            <div class="row collapse">
                <div class="small-9 large-10 columns">
                    <input ng-change="onUrlChange()"
                           ng-init="protocol='http://'"
                           ng-model="url_without_protocol"
                           type="text"
                           name="url"
                           placeholder="google.com"
                           autofocus="autofocus">
                </div>

                <div class="small-3 large-2 columns">
                    <button type="submit"
                            class="button postfix"
                            ng-class="{'disabled': loading}"
                            ng-disabled="loading">
                        Short!
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" ng-show="url.shorted_url">
    <div class="large-12 columns">
        <div class="alert-box success">
            <input name="shorted_url"
                   type="text"
                   value="{{url.shorted_url}}"
                   readonly
                   autoselect>
            <a href="#" class="close">&times;</a>
        </div>
    </div>
</div>