<form name="short_form" ng-submit="short()">
    <div class="row collapse">
        <div class="small-3 large-2 columns">
            <span class="prefix" id="protocol">{{protocol}}</span>
        </div>

        <div class="large-10 columns">
            <div class="row collapse">
                <div class="large-10 columns">
                    <input ng-change="onUrlChange()"
                           ng-init="protocol='http://'"
                           ng-model="url_without_protocol"
                           type="text"
                           name="url"
                           placeholder="google.com"
                           autofocus="autofocus">
                </div>

                <div class="large-2 columns">
                    <button type="submit" class="button prefix">Short!</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div id="shorted" class="row" ng-show="url.shorted_url">
    <div class="large-12 columns">
        <div class="alert-box success">
            <input name="shorted_url" type="text" value="{{url.shorted_url}}">
        </div>
    </div>
</div>