<div class="row" ng-controller="NavBarCtrl" ng-init="update()">
    <div class="columns large-6 large-centered text-center">
        <nav class="top-bar">
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="#">Short The Rails</a>
                    </h1>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li ng-class="button.class" ng-repeat="button in buttons">
                        <a ng-href="\#{{button.href}}">{{button.text}}</a>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
</div>
