<table width="100%">
    <thead>
        <tr>
            <th>Original</th>
            <th>Shorted</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="url in urls">
            <td>
                <a ng-href="{{url.original}}">{{url.original}}</a>
            </td>
            <td>
                <a ng-href="{{url.shorted}}">{{url.shorted}}</a>
            </td>
            <td>
                <a href="#" data-dropdown="delete_confirmation">&times;</a>

                <ul id="delete_confirmation" class="f-dropdown" data-dropdown-content>
                    <p>Are you sure?</p>
                    <a ng-click="deleteUrl(url.id)" class="button small">Yes!</a>
                    <a onclick="$(this).parent().hide();" class="button alert small">Cancel</a>
                </ul>
            </td>
        </tr>
    </tbody>
</table>