// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #F5F5F5;
  padding-bottom: 40px;
  padding-top: 40px;
}

.container {
  position: relative;
  width: 450px;
}

#form-short-heading, #form-short-heading > a  {
  color: inherit;
  margin-bottom: 30px;
  text-decoration: none;
}

#form-short-submit {
  border-radius: 3px;
  width: 60px;
}

#form-short-result {
  margin-top: 25px;
  margin-bottom: 0px;
  padding: 10px;

  display: none;
}

#form-short-result-link, #form-short-result-link:focus {
  display: none;
  border-color: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0px;

  background-color: #F5F5F5;

  color: inherit;
  text-decoration: underline;

  padding: 0px;
  margin: 0px;
  height: inherit;
  //width: 300px;
  text-align: center;
}

#form-short-result-error {
  display: none;
}

#form-short-result-close {
  position: inherit;
}

#form-short {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 0 auto 5px;
  width: 350px;
  text-align: center;
  padding: 19px 29px 29px;
}

.btn:focus { outline: none; }

.dropdown-menu {
  top: auto;
  min-width: auto;
  left: 47px;

  text-align: left;
}