label[for] {
  margin-bottom: 0px;
}

label.valid {
  width: 24px;
  height: 24px;
  background: url(/assets/valid.png) center center no-repeat;
  display: inline-block;
  text-indent: -9999px;
}
label.error {
  color: red;
  margin-top: 2px;
}

.modal {
  width: 400px;
  margin-left: -200px;
}

.modal-body .control-label {
  width: 70px;
}

.modal-body .controls {
  margin-left: 0px;
}

.social_login_buttons {
  background: none repeat scroll 0 0 #F3F3F3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
}

.social_login_buttons .title {
  color: #9C9C9C;
  font-family: Arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.social_login_buttons button {
  border: 0 none;
  display: inline-block;
  margin: 0;
  outline: 0 none;
  padding: 0;
}

.social_login_buttons button.vkontakte {
    background: image-url('social_buttons.png') no-repeat scroll -93px 0 transparent;
    height: 23px;
    width: 99px;
}

.social_login_buttons button.twitter {
  background: image-url('social_buttons.png') no-repeat scroll -194px -25px transparent;
  height: 23px;
  width: 91px;
}

.social_login_buttons button.github {
  background: image-url('social_buttons.png') no-repeat scroll -381px -25px transparent;
  height: 23px;
  width: 91px;
}

