<form>
    <div class="row">
        <div class="columns">
            <div class="title text-center">
                <h1>Sign in</h1>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="large columns">
        <label for="">Email</label>
        <input type="email" placeholder="Email"/>
      </div>
    </div>

    <div class="row">
      <div class="large columns">
        <label>Password</label>
        <input placeholder="Write your password" type="password"/>
      </div>
    </div>

    <div class="row">
        <div class="large large-centered columns">
          <a class="button expand" href="#">Submit</a>
        </div>
    </div>
</form>


